.status{
    /* flex: 5; */
    background-color:#f3f6f9;
    width:85%;
    height: 100%;
}
.statusWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 42px 42px 0px 111px;
    gap: 33px;
    width: 90%;
}
.rateWrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 45px 94px;
    width: 92%;
}
.rateWrapper hr{
    border: 1px solid lightgray;
    height: 300px;
    margin: 8px 0px;
}
.dateAndStatus{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: -27px;
    gap:10px;
}

@media (max-width: 1400px) {
    .status {
        display: flex;
        flex-direction: column;
        background-color: #f3f6f9;
      }
      .statusWrapper {
        gap: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    
      .rateWrapper {
        margin: 25px 0px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
      }
      .rateWrapper hr {
        height: 150px;
        margin: 8px 0px;
      }
      .numbers
    {
    font-size: 14px;
  }
  .dateAndStatus {
    flex-direction: column;
    justify-content: center;
    /* margin: 4px; */
    margin-bottom: 50px;
  }
  .statusWrapper{
    
        flex-direction: column;
        justify-content: center;
        margin: 4px;
  }
  .rateWrapper hr{
    border: 1px solid lightgray;
    margin: 40px 0px 40px 0px;
    width: 244px;
    height: 0px;;
}
  }