
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }
  
  .selected {
    background-color: #cccccc;
    color: #333;
  }
  
  .selected:hover {
    background-color: #cccccc;
  }
  