.buttonWrapper{
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 303px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 7px;
    margin: 40px 20px 0px 20px;
    font-family: inherit;
}