.sidebar{
    flex: 1;
    background-color:white;
}

ul{
    list-style-type: none;
    text-align: right;
    margin: 8px 30px 10px 0px;
    font-size: 15px;
}
li{
    margin-bottom: 30px;
}

#horizontal{
    border: 1px solid #f3f6f9;
    margin: 40px 0px;
    width: 244px;
}
